[Desktop Entry]
Name=Nvidia driver installer
Name[ca]=Instal·lador de controladors Nvidia
Name[de]=Nvidia-Treiber Installateur
Name[el]=Nvidia driver installer
Name[es]=Instalador de controlador Nvidia
Name[fr]=Installateur du pilote Nvidia
Name[it]=Installa driver Nvidia
Name[ja]=Nvidia ドライバーインストール
Name[nl]=Nvidia driver installeerder
Name[ru]=Установщик Nvidia драйверов
Name[sv]=Nvidia drivrutin-installerare
Comment=Install proprietary nvidia driver from repo
Comment[ca]=Instal·la controladors propietaris Nvidia del dipòsit
Comment[de]=Proprietären Nvidia-Treiber aus dem Repo installieren
Comment[el]=Εγκατάσταση του ιδιόκτητου οδηγό της NVIDIA
Comment[es]=Instalar controlador propietario Nvidia del repo
Comment[fr]=Installe le pilote Nvidia propriétaire depuis les dépôts
Comment[it]=Installare il driver proprietario Nvidia dai repo
Comment[ja]=リポジトリから独自 Nvidia ドライバーをインストールします
Comment[nl]=Installeer nvidia eigendomsdriver van pakketbron
Comment[ru]=Установить проприетарный nvidia драйвер из репозиториев
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Icon=nvidia-ddm-mx
Type=Application
Terminal=false
Exec=x-terminal-emulator -e sudo /usr/local/bin/ddm-mx -i nvidia
Categories=ConsoleOnly;System;MX-Setup;
