[Desktop Entry]
Name=AMD/ATI fglrx driver installer
Name[ca]=Instal·lador de controladors AMD/ATI fglrx
Name[de]=AMD/ATI fglrx-Treiber Installateur
Name[el]=AMD/ATI fglrx driver installer
Name[es]=Instalador de controlador AMD/ATI fglrx
Name[fr]=Installateur du pilote AMD/ATI fglrx
Name[it]=Installa driver AMD/ATI fglrx
Name[ja]=AMD/ATI fglrx ドライバーインストール
Name[nl]=AMD/ATI fglrx driver installeerder
Name[ru]=Установщик AMD/ATI fglrx драйверов
Name[sv]=Installerare för AMD/ATI fglrx drivrutin
Comment=Install AMD/ATI fglrx driver from repo
Comment[ca]=Instal·la controladors AMD/AT fglrx del dipòsit
Comment[de]=Proprietären AMD/ATI fglrx-Treiber aus dem Repo installieren
Comment[el]=Εγκατάσταση του οδηγό AMD/ATI fglrx
Comment[es]=Instalar controlador AMD/ATI fglrx del repo
Comment[fr]=Installe le pilote AMD/ATI fglrx depuis les dépôts
Comment[it]=Installare driver AMD/ATI fglrx dai repo
Comment[ja]=リポジトリから AMD/ATI fglrx ドライバーをインストールします
Comment[nl]=Installeer AMD/ATI fglrx driver van pakketbron
Comment[ru]=Установить AMD/ATI fglrx драйвер из репозиториев
Comment[sv]=Installera AMD/ATI fglrx drivrutin från förråd
Icon=amd-ddm-mx
Type=Application
Terminal=false
Exec=x-terminal-emulator -e sudo /usr/local/bin/ddm-mx -i ati
Categories=ConsoleOnly;System;MX-Setup;
