[Desktop Entry]
Type=Application
Name=Laptop Mode Tools Configuration
GenericName=Laptop Mode Tools Configuration
Exec=gksudo /usr/sbin/lmt-config-gui
Categories=System;
Comment=Enable/disable Laptop Mode Tools settings
Keywords=Preferences;
Icon=battery
