[Desktop Entry]
GenericName=Applet MOC
GenericName[ru]=Апплет MOC
Name=Applet MOC
Name[ru]=Апплет MOC 
Comment=Applet MOC
Comment[ru]=Апплет на панели для управления плеером moc 
Exec=/usr/local/bin/my_moc_info.sh -a
Icon=multimedia-player
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Player;GTK;
