[Desktop Entry]
GenericName=Display MOC info
GenericName[ru]=Апплет MOC info
Name=Display MOC info
Name[ru]=Апплет MOC info
Comment=Display MOC info in panel
Comment[ru]=Создает апплет для отображения тегов и состояние плеера moc на панели
Exec=/usr/local/bin/my_moc_info.sh -p
Icon=multimedia-player
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Player;GTK;
