[Desktop Entry]
Name=Testdisk
Exec=x-terminal-emulator --command="sudo /opt/testdisk-7.1-WIP/testdisk_static && exit"
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
Icon=drive-harddisk
Name[ru_UA.utf8]=testdisk
